@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  background: white;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* UTILS */
.raw-displayer > code,
.raw-displayer > code > pre {
  font-family: 'SFMono-Regular', Consolas, Liberation Mono, Menlo, monospace !important;
  line-height: 1.25;
  font-size: 12px;
}
